    $width-left: 28%;
    $width-right: 72%;
    $main-margin: 15px;
    $main-padding: 10px;
    $big-padding: 20px;
    $big-margin: 20px;
    $main-left-background: rgb(4, 80, 15);
    $main-right-h1-color: rgb(9, 128, 26);
    $main-right-border-color: rgb(97, 204, 94);
    $main-right-borderLeft: 3px solid rgb(9, 128, 26);
    $main-img-height: 380px;
    $main-right-border-bottom: 2px solid rgb(97, 204, 94);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper{
    width: 80%;
    margin: 0 auto;
    .wrapper {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        
        .left {
            width:  $width-left;
            background-color:  $main-left-background;
            color: white;
            .leftWrapper{
                padding: 15px 4% 0 4%;
            }
        }

        .right {
            width: $width-right;
            padding: 15px 30px 5px 30px;
        }
        
    }
}

//left:

//img 

div.imgWrap{

    div.img{
        background-image: url('../img/6.PNG');
        background-position: center;
        height: $main-img-height;
    }
}


//contact

.contact{
    margin-bottom: $main-margin;
    // padding-bottom: $main-padding;
  
    .contact-wrapper{
        border-bottom: 2px solid white;
    }
    
        &__title{
            text-transform: uppercase;
        }
        &__subtitle{
            margin-bottom: $main-margin;
        }

        &__item{
            display: flex;

            &-icon{
                min-width: 40px;
                height: 40px;
                margin-right: 10px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
            }

           &-text{
                line-height: 40px;
                margin-bottom: $main-margin;
            }
        }
    
   
}


//certificates

.certificates{
    &__title{
        margin-bottom: $big-margin;
        text-transform: uppercase;
    }
    
    &__wrapper{
        border-bottom: 2px solid white;
        margin-bottom: $main-margin;
        padding-bottom: $big-padding;;
    }
 
}        
   



//social

.social{

        &__main-wrapper {
            margin-bottom: $main-margin;
            border-bottom: 2px solid white;
        }

            
        &__wrapper {
            padding-bottom: $main-margin;
        }

        &__title{
            margin-bottom: $main-margin;
            text-transform: uppercase;
        }
    
    
            &__mediaWrap{
                display: flex;
                align-items: center;
                padding-bottom: $main-padding;
            }

            &__icon{
                min-width: 40px;
                height: 40px;
                margin-right: 10px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black; 
            }
   
            &__links{
                &-name{
                    font-size: 23px;
                    margin-bottom: 2px;
                }

                &-link{
                    text-decoration: none;
                    color: white;
                    font-size: 15px;
                }
            }
   
}


//languages

.languages{
        &__title{
            margin-bottom: $main-margin;
            text-transform: uppercase;
        }
        &__language{
            margin-bottom: $main-margin;
        }

        
        &__rangeWrap{
            display: flex;
            margin-bottom: $big-margin;
            background-color: rgb(2, 58, 10);
            height: 10px;
            
            &-polish{
                margin-bottom: $big-margin;
        
                &-left{
                    background-color: rgb(8, 148, 8);
                    width: 98%;
                }
            }

            &-english{
                &-left{
                    background-color: rgb(8, 148, 8);
                    width: 75%;
                } 
            }  
      }

      

    }



//right:

//about
.about{
    &__wrapper{
        border-bottom: $main-right-border-bottom;
        margin-bottom: $main-margin;
    }

    &__title{
        text-transform: uppercase;   
        color: $main-right-h1-color;
        margin-bottom:$main-margin;
    }
    
    &__description{
        margin-bottom: $main-margin;
    }
    
}


//projects
.projects{
    // padding: 15px 30px 5px 30px;

    &__title{
        text-transform: uppercase;
        margin-bottom: $big-margin;
        color: $main-right-h1-color;
    }
    &__description{
        margin-bottom: $main-margin;
    }
    &__wrapper{
        border-bottom: $main-right-border-bottom;
        margin-bottom: $main-margin;
    }
}


//skills
.skills{
    // padding: 15px 30px 5px 30px;

        &__main-wrapper{
            margin-bottom: $main-margin;
        }

        &__title{
            text-transform: uppercase;
            margin-bottom: 15px;
            color: rgb(9, 128, 26);
        }
    
        &__wrapper{
            display: flex;
        }

           &__subtitle{
                text-transform: uppercase;
                padding-left: 30px;
                margin-bottom: $main-margin;
            }

            &__list{
                border-left: $main-right-borderLeft;
                padding-left: $main-padding;
                margin-left: $big-margin;
                &-title{
                    margin-bottom: 15px;
                }
            }

    
            &__right{
                margin-left: 30%;  
            }
    
}


.education{
    &__main-wrapper{
        border-bottom: $main-right-border-bottom;
        padding-bottom: 15px;
        margin-bottom: $main-margin;
    }

    &__wrapper{
        border-left: $main-right-borderLeft;
        padding-left: $main-padding;
        margin-left: $big-margin;      
    }
        &__title{
            text-transform: uppercase;
            margin-bottom: $big-margin;
            color: rgb(9, 128, 26);  
        }

            &__subtitle, &__description{
                margin-bottom: $main-margin;
            }

}


//hobby

.hobby{
    margin-right: 0;
    padding-right: 0;
    width: 100%;
    &__title{
        color: $main-right-h1-color;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__icons{
        display: flex;
        justify-content: center;
        width: 100%;

        &-wrapper{
            display: flex;
            width: 90%;
            justify-content: center;
         } 
    }

    
    &__rect{
        width: 100px;
        height: 50px;
        background-color: white;
        border-bottom: 3px solid $main-right-h1-color;
    }


    &__icon{
        width: 100px;
        height: 100px;
        background-color: white;
        border: 3px solid $main-right-h1-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;

        i{
            display: block;
            font-size: 35px;
        }
    }
      
   
}





@media(max-width: 460px)
{
    .main-wrapper{
        width: 100%;
        margin: 0 auto;
        .wrapper {
            display: block;
            font-family: 'Montserrat', sans-serif;
    
            .left {
                width:  $width-left;
                background-color:  $main-left-background;
                color: white;
                width: 100%;
                .leftWrapper{
                    padding: 15px 4% 15px 4%;
                }
            }
    
            .right {
                width: 100%;
                padding: 15px 30px 5px 30px;
            }
            
        }
    }
  
    .skills{
        &__left{
            margin-bottom: 1rem;
        }
            &__wrapper{
                flex-direction: column;
            }     

            &__right{
                margin-left: 0;  
            }  
    }
    
  .hobby{
        padding-bottom: 20px;

        &__icons{
            &-wrapper{
                width: 100%;
            } 
        }

        &__icon{
            width: 60px;
            height: 60px;

            i{
                display: block;
                font-size: 20px;
            }
        } 
    
        &__rect{
            width: 20px;
            height: 30px;
        }
       
    }
    
div.about h1, div.projects h1 ,div.skills h1 ,div.hobby h1 ,div.education h1{
    text-align: center;
}

.panelTitle{
    text-align: center;
}

  
}

@media(min-width: 460px)
{
    .main-wrapper{
        width: 100%;
        margin: 0 auto;
        .wrapper {
            display: block;
            font-family: 'Montserrat', sans-serif;
    
            .left {
                width:  $width-left;
                background-color:  $main-left-background;
                color: white;
                width: 100%;
                .leftWrapper{
                    padding: 15px 4% 15px 4%;
                }
            }
    
            .right {
                width: 100%;
                padding: 15px 30px 5px 30px;
            }
            
        }
    }

    .skills{
        &__wrapper{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
            &__right{
                margin-left: 0;  
            }
          

    }
           
    
    .hobby{
        padding-bottom: 20px;

        &__icon{
            width: 60px;
            height: 60px;

            i{
                display: block;
                font-size: 25px;
            }
        } 
    
        &__rect{
            width: 40px;
            height: 30px;
        }  
   
    }

    .contact{
   
        .contact-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid white;
        }
       
    }
    
    .social{
        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: $main-margin;
        }
  
    }
    .certificates{
        &__exam{
            text-align: center;
        }
    }

  
   
     div.right{
        font-size: 1.1rem;
     }

    div.imgWrap{
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid white;
    }

    div.imgMainWrap{
        padding: 15px 4% 0 4%;
        background-color: $main-left-background; 
    }

    div.img{
        border-radius: 50%;
        width: 350px;
        height: 370px;
    }

    div.about h1, div.projects h1 ,div.skills h1 ,div.hobby h1 ,div.education h1{
        text-align: center;
    }
    div.social h2, div.contact h2 ,div.certificates h2, div.languages h2{
        text-align: center;
    }
}

@media(min-width: 540px)
{
    div.img{
        border-radius: 50%;
        width: 400px;
        height: 420px;
    }

    
      .hobby{
        // width: 90%;
        padding-bottom: 20px;

                &__icon{
                    width: 70px;
                    height: 70px;

                    i{
                        display: block;
                        font-size: 25px;
                    }
                } 
            
                &__rect{
                    height: 35px;
                }
          
       
    }

}

@media(min-width: 650px)
{
      .hobby{

        &__icon{
            width: 80px;
            height: 80px;

            i{
                display: block;
                font-size: 30px;
            }
        } 
    
        &__rect{
            height: 40px;
        }
                         
    }
}

@media(min-width: 768px)
{
    .hobby{
    
        &__icon{
            width: 80px;
            height: 80px;

            i{
                display: block;
                font-size: 30px;
            }
        } 
    
        &__rect{
            width: 70px;
            height: 40px;
        }   
                           
    }

}

@media(min-width: 850px){
    .hobby{
     
        &__icon{
            width: 90px;
            height: 90px;

            i{
                display: block;
                font-size: 30px;
            }
        } 
    
        &__rect{
            height: 45px;
        }        
                  
    }
}

@media(min-width: 1024px)
{
  .hobby{
    &__icon{
        width: 100px;
        height: 100px;

        i{
            display: block;
            font-size: 35px;
        }
    } 

    &__rect{
        width: 90px;
        height: 50px;
    }  
  }
    div.left{
        .text{
            font-size: 1.5rem;
        }
    }
   
    div.right{
        .description{
            font-size: 1.5rem;
        }  
    }

    .contact{
   
        .contact-wrapper{
            display: block;
            border-bottom: 2px solid white;
        }
        &__title{
            font-size: 2rem;
            margin-bottom: .5rem;
        }
        &__subtitle{
            font-size: 1.6rem;
            margin-bottom: 1.2rem;
        }
       
    }
    .social{
        &__wrapper {    
                display: block;   
        }         

         &__links{
                text-align: left;
            }     
    }

    .certificates{
        &__exam{
            text-align: left;
        }
    }
    
    div.about h1, div.projects h1 ,div.skills h1 ,div.hobby h1 ,div.education h1{
        text-align: left;
    }
    div.social h2, div.contact h2 ,div.certificates h2, div.languages h2{
        text-align: left;
    }
    
}

@media(min-width: 1200px)
{

        .main-wrapper{
            width: 90%;
            margin: 0 auto;
            .wrapper {
                display: flex;
                font-family: 'Montserrat', sans-serif;
               
                .left {
                    // width:  200px;
                    width:  $width-left;
                    background-color:  $main-left-background;
                    color: white;
                    p{
                        font-size: 16px;
                    }
                    h2{
                        font-size: 1.4rem;
                    }
                    .leftWrapper{
                        padding: 15px 4% 15px 4%;
                    }
                }
        
                .right {
                    width: $width-right;
                    h1{
                        font-size: 1.8rem;
                    }
                    p{
                        font-size: 19px; 
                    }
                       
                    padding: 15px 30px 5px 30px;
                }
                
            }
        }
    
        .contact{
            &__title{
                font-size: 24px;
                margin-bottom: .2rem;
            }
            &__subtitle{
                font-size: 14px;
                margin-bottom: 1rem;
            }
        }
       
        .skills{
            
            &__wrapper{
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }
                &__right{
                    margin-left: 0;  
                }

        }    
            

        .hobby{
            padding-bottom: 20px;
            &__title{
                margin-bottom: 40px;
            }
            &__icon{
                width: 110px;
                height: 110px;

                i{
                    display: block;
                    font-size: 30px;
                }
            } 
        
            &__rect{
                width: 70px;
                height: 55px;
            }  
                  
        }
    
       

        div.imgWrap{
            height: 450px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid white;
        }
    
        div.imgMainWrap{
            padding: 15px 4% 0 4%;
            background-color: $main-left-background; 
        }
    
        div.img{
            border-radius: 50%;
            width: 350px;
            height: 370px;
        }

    
} 
   
@media(min-width: 1600px)
{
    .main-wrapper{
        width: 80%;
        margin: 0 auto;
        .wrapper {
            display: flex;
            font-family: 'Montserrat', sans-serif;
           
            .left {
                width:  $width-left;
                background-color:  $main-left-background;
                color: white;
           
                font-size: 1.2rem;
                .leftWrapper{
                    padding: 15px 4% 15px 4%;
                }
            }
    
            .right {
                p{
                    font-size: 1.2rem;
                }
               
                width:$width-right;
                padding: 15px 30px 5px 30px;
            }
            
        }
    }

    div.left div.img{
        height: 410px;
        background-position: top;
    }


   .hobby{
        padding-bottom: 20px;

        &__title{
            margin-bottom: 40px;
        }

        &__icon{
            width: 120px;
            height: 120px;

            i{
                display: block;
                font-size: 40px;
            }
        } 
    
        &__rect{
            width: 90px;
            height: 60px;
        }
    
        } 
        
}
